{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="">Expenses Summary</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Summary
                    </li>
                </ol>
            </nav>
        </div>

        <div class="col-md-2">
            <a href="" class="btn btn-primary">BACK</a>
        </div>

    </div>

    <div class="mb-5">
        <h2>Reports</h2>
        <div class="btn-group" role="group" aria-label="Basic example">
          <a href="{% url 'export-csv' %}" class="btn btn-warning mr-1">Eport CSV</a>
          <a href="{% url 'export-excel' %}" class="btn btn-success mx-1">Export Excel</a>
          <a href="{% url 'export-pdf' %}" class="btn btn-danger ml-1">Export PDF</a>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6 w400 h400">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            <div class="col-md-3"></div>

    </div>
</div>

<script src="{% static 'js/stats.js' %}"></script>


</script>

{% endblock content %}